<!DOCTYPE html>
<html>
    <head>
        <title>League Ranked Stats</title>
    </head>
    <body>
        <h1>Hello</h1>
        <!-- <img src="{{ user_image }}" alt="User Image"> -->
        <p>Welcome to my league of legends ranked stat scraper. It pulls data from op.gg and graphs it in (hopefully) interesting ways.</p>
        <!-- <p>hi lyvia</p> -->
        <p>To see your graphs, enter your username below and click "Generate" to generate data</p>
        <p>(this will take a couple seconds, so be patient)</p>
        <form method="POST">
            <input name="text" placeholder="Username (NA)">
            <input type="submit" value="Generate">
        </form>
    </body>
</html>
